:root {
    color: black;
}

header {
    background: white;
}
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    background: plum;
}

/* Header styling */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

/* Navigatie styling */
header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #8428a0;
}

/* Main content styling */
main {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

main section {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
